<div id="<%= dom_id employee %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">First name:</strong>
    <%= employee.first_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Last name:</strong>
    <%= employee.last_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= employee.email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Phone number:</strong>
    <%= employee.phone_number %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Hire date:</strong>
    <%= employee.hire_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Role:</strong>
    <%= employee.role_id %>
  </p>

</div>
