<div class="flex flex-col gap-3max-w-sm mx-auto bg-steel-blue p-9 rounded-lg">
  <%= form_with(model: employee, class: "contents") do |form| %>
    <% if employee.errors.any? %>
      <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
        <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>
  
        <ul>
          <% employee.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="grid gap-6 mb-6 md:grid-cols-2">
      <div class="my-2">
        <%= form.label :first_name, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
        <%= form.text_field :first_name, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder:"First Name" %>
      </div>
      <div class="my-2">
        <%= form.label :last_name, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
        <%= form.text_field :last_name, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder:"Last Name" %>
      </div>
      <div class="my-2">
        <%= form.label :email, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
        <%= form.text_field :email, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: "youremail@email.com", required: true %>
      </div>
      <div class="my-2">
        <%= form.label :phone_number, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
        <%= form.text_field :phone_number, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: "(99) 9999-9999", pattern:"[0-9]{3}-[0-9]{2}-[0-9]{3}"  %>
      </div>
      <div class="my-2">
        <%= form.label :hire_date, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
        <%= form.date_field :hire_date, class: "dark:text-gray-400 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: "11/11/1111" %>
      </div>
      <div class="my-2">
        <%= form.label :role_id, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
        <%= form.text_field :role_id, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
      </div>
      <div class="flex">
        <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
        <%= link_to "Back to employees", employees_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      </div>
    </div>
  <% end %>
</div>
